# Ignore Python bytecode files
*.py[cod]
__pycache__/

# Ignore test files
*.spec

# Ignore virtual environments
venv/
.venv/

# Ignore pytype static type analyzer
.pytype/

# Ignore Cython debug symbols
cython_debug/

# Ignore build directories
build/
dist/

# Ignore all .exe files except Randomizer.exe
*.exe
!dist/Randomizer/Randomizer.exe
!Randomizer.exe

# Do not ignore the icon file
!assets/random.ico

# Ignore environment variables files
*.env

# Ignore IDE specific files
.idea/
.vscode/